
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "RoleList";
}
@Html.Partial("_nav", new FilmLove.Admin.CommEntity.ResEntities.NavigationModel("系统管理", "角色管理"))
<div class="row bgwhitebox10 mymgb15">
    <div class="detail-search" style="border-bottom: 2px solid #01ACE2;padding-bottom:10px;">
        <div class="col-sm-9 mypdl0">
            @Html.Partial("_linkBtn", "/WebSystem/RoleEdit")
        </div>
        <div class="mycl"></div>
    </div>
    <div class="row mtop15">
        <div class="row">
            <div class="col-sm-12" style="padding:0px;">
                <table class="table table-bordered mytable">
                    <thead>
                        <tr>
                            <th width="30%">角色名称</th>
                            <th width="20%">角色状态</th>
                            <th width="25%">创建时间</th>
                            <th width="25%">操作</th>
                        </tr>
                    </thead>
                    <tbody id="roletbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section JsExtend{
    <script type="text/javascript" src="@Html.GetUrlContent("/Scripts/WebManager/system/rolelist.js")"></script>
}



