
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "UpdatePassword";
}
<div class="row col-sm-12" style="background:#fff; padding-top:10px;">
    <table class="table table-bordered mytable mymgb0" style="padding-bottom:0px;">
        <tr>
            <th width="30%" style="background:#F5F5F6;">原密码</th>
            <td width="70%"><input type="password" id="PassWord" name="PassWord" value="" class="form-control objsort" /></td>
        </tr>
        <tr>
            <th style="background:#F5F5F6;">新密码</th>
            <td><input type="password" id="NewPassWord" name="NewPassWord" value="" class="form-control objsort" /></td>
        </tr>
        <tr>
            <th style="background:#F5F5F6;">确认密码</th>
            <td><input type="password" id="RePassWord" name="RePassWord" value="" class="form-control objsort" /></td>
        </tr>
    </table>
</div>
