<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="OfficialWebEntities" connectionString="server=192.168.1.232;database=OfficialWeb;uid=baiyehao;pwd=Aa123456;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>